.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration-line: none;
  color: black;
}
a:visited {
  color: black;
}

.navbar {
  font-size: larger;
  display: block;
}

.navbar a {
  margin-right: 12px;
  text-decoration-line: none;
  color: black;
}

.navbar a.active {
  font-weight: bold;
}
.navbar a:visited {
  color: black;
}

.Movie {
  display: inline-block;
  background: linear-gradient(
    180deg,
    rgb(165, 215, 248) 0%,
    rgb(109, 149, 168) 66%,
    rgb(99, 133, 139) 100%
  );

  width: 20%;
  height: 300px;
  vertical-align: middle;
}

.Poster img {
  width: 127px;
  text-align: center;
  vertical-align: middle;
}

.Genre {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.MovieBackground {
  opacity: 30%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0px;
}

.MovieDetails {
  z-index: 9;
  position: relative;
  margin: 20px;
}

.MovieDetailsContainer {
  text-align: left;

  width: 100%;
  height: 100%;
  position: absolute;
}

.MovieBackground img {
  width: inherit;
}
.DetailPoster {
  margin-top: 26px;
  margin-right: 16px;
  float: left;
  height: 100%;
}
